.errorPage404{
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #090930 -9.26%, #040E49 113.15%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: normal;
    letter-spacing: 0.02em;
    color: #F8F8F8;
    font-style: normal;
    font-weight: 800;
    &__mainText{
        font-size: rem(250px);
        @media(max-width: screen(sm)){
            font-size: rem(200px);
        }
        @media(max-width: screen(xs)){
            font-size: vw(200px, screen(xs));
        }
        @media(max-width: screen(xxs)){
            font-size: vw(120px, screen(xxs));
        }
    }
    &__subText{
        font-size: rem(24px);
        @media(max-width: screen(xs)){
            font-size: vw(24px, screen(xs));
        }
        @media(max-width: screen(xxs)){
            font-size: vw(16px, screen(xxs));
        }
    }
    &__buttonGoHome{
        margin-top: 60px;
        font-weight: 600;
        font-size: rem(18px);
        padding: 16.5px 49px 16.5px 15px;
        border: 1px solid #F8F8F8;
        border-radius: 8px;
        text-transform: uppercase;
        background: transparent url("/img/icons/arrow_for_slide_moreRead.svg") no-repeat 90%;
        transition: .5s;
        color: #F8F8F8;
        &:hover{
            background: #FFFFFF url("/img/icons/arrow_for_slide_moreRead-invert.svg") no-repeat 90%;
            transition: .5s;
            color: #000000;
        }
        @media(max-width: screen(xxs)){
            font-size: rem(14px);
            padding: 11px 52px 11px 18px;
        }
    }
}