$gap: 30px;

.container {
  position: relative;
  width: 100%;
  max-width: 1320px;
  padding-left: calc(#{$gap} / 2);
  padding-right: calc(#{$gap} / 2);
  margin: auto;

  @media (max-width: #{screen(xl)}) {
    max-width: #{screen(lg)};
  }

  @media (max-width: #{screen(lg)}) {
    max-width: #{screen(md)};
  }

  @media (max-width: #{screen(md)}) {
    max-width: #{screen(sm)};
  }

  @media (max-width: #{screen(sm)}) {
    max-width: #{screen(xs)};
  }
}

@for $i from 1 through 12 {
  .cols-#{$i} {
    @include create-col(#{$i}, #{$gap}, 0);
  }
}

@for $i from 1 through 12 {
  .cols-retina-#{$i} {
    @media (min-width: screen(xxl)) and (max-width: screen(retina)) {
      @include create-col(#{$i}, #{$gap}, 0);
    }
  }
}

@for $i from 1 through 12 {
  .cols-xxl-#{$i} {
    @media (min-width: screen(xl)) and (max-width: screen(xxl)) {
      @include create-col(#{$i}, #{$gap}, 0);
    }
  }
}

@for $i from 1 through 12 {
  .cols-xl-#{$i} {
    @media (min-width: screen(lg)) and (max-width: screen(xl)) {
      @include create-col(#{$i}, #{$gap}, 0);
    }
  }
}

@for $i from 1 through 12 {
  .cols-lg-#{$i} {
    @media (min-width: screen(md)) and (max-width: screen(lg)) {
      @include create-col(#{$i}, #{$gap}, 0);
    }
  }
}

@for $i from 1 through 12 {
  .cols-md-#{$i} {
    @media (min-width: screen(sm)) and (max-width: screen(md)) {
      @include create-col(#{$i}, #{$gap}, 0);
    }
  }
}

@for $i from 1 through 12 {
  .cols-sm-#{$i} {
    @media (min-width: screen(xs)) and (max-width: screen(sm)) {
      @include create-col(#{$i}, #{$gap}, 0);
    }
  }
}

@for $i from 1 through 12 {
  .cols-xs-#{$i} {
    @media (max-width: screen(xs)) {
      @include create-col(#{$i}, #{$gap}, 0);
    }
  }
}