.sliderWrap{
  height: vw(950px, screen(xxl));
  @media(max-width: screen(sm)){
    height: 147.33vw;
  }
}

.swiper {
  width: 100vw;
  height: inherit;

  .swiper-pagination{
    margin-bottom: 30px;
    @media (max-width: screen(sm)) {
      margin-bottom: vw(30px, screen(xxl));
    }
  }

  .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    margin-right: 18px !important;
    margin-left: 18px !important;
    background: #C9C9C9;
    opacity: 1;
    @media (max-width: screen(sm)) {
      margin-right: 15px !important;
      margin-left: 15px !important;
      margin-bottom: vw(9.5px, 600px) !important;
      width: 8px;
      height: 8px;
    }
  }

  .swiper-button-prev {
    margin-left: vw(240px, screen(xxl));
    @media (max-width: screen(xl)) {
      margin-left: vw(50px, 1440px);
    }
    @media (max-width: screen(sm)) {
      display: none;
    }
  }

  .swiper-button-next {
    margin-right: vw(240px, screen(xxl));
    @media (max-width: screen(xl)) {
      margin-right: vw(50px, 1440px);
    }
    @media (max-width: screen(sm)) {
      display: none;
    }
  }

  .swiper-pagination-bullet-active {
    background: #ffffff;
  }

  &-slide {
    height: inherit;
    position: relative;

    .container{
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;
      @media (max-width: screen(md)) {
        justify-content: space-between;
      }
      @media (max-width: screen(sm)) {
        margin-bottom: vw(100px, screen(xxl));
      }
    }

    div{
      z-index: 10;
      font-style: normal;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #FFFFFF;
    }

    img{
      position: absolute;
    }

    &__title{
      width: vw(650px, screen(xxl));
      font-weight: 900;
      font-size: rem(42px);
      margin-top: calc(72px + 44px);

      @media(max-width: screen(md)){
        font-size: rem(30px);
      }

      @media(max-width: screen(sm)){
        font-size: rem(24px);
        width: 65vw;
        margin-top: calc(72px + #{vw(44px, screen(xxl))});
      }

      @media(max-width: screen(xs)){
        width: 100%
      }

      @media(max-width: 425px){
        font-size: vw(16px, screen(xxs));
      }
    }
    &__readMore{
      display: inline-block;
      font-weight: 600;
      font-size: rem(18px);
      padding: 16.5px 58px 16.5px 24px;
      border: 1px solid #FFFFFF;
      border-radius: 8px;
      margin-top: 40px;
      background: transparent url("/img/icons/arrow_for_slide_moreRead.svg") no-repeat 90%;
      transition: .5s;
      &:hover{
        background: #FFFFFF url("/img/icons/arrow_for_slide_moreRead-invert.svg") no-repeat 90%;
        transition: .5s;
        color: #000000;
      }
      @media(max-width: screen(md)){
        margin-top: 0;
      }
      @media(max-width: 425px){
        font-size: rem(14px);
        padding: 11px 52px 11px 18px;
      }
    }
    a{
      @media (max-width: screen(sm)) {
        margin: 0 auto;
      }
      @media(max-width: screen(md)){
        margin-bottom: 100px;
      }
      @media(max-width: screen(sm)){
        margin-bottom: vw(76px, 600px);
      }
      @media(max-width: 425px){
        margin-bottom: vw(52px, screen(xxs));
      }
    }
  }

  &-pagination {
    &-bullet {
      background-color: $grey;
    }
  }
}

[class*="swiper-button"] {
  &:after {
    font-size: rem(18px);
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: rgba(#000, .8);
    opacity: .4;
    transition: all .09s ease-out;
  }

  &:hover:after {
    opacity: 1;
  }
}